In [9]:
import pandas as pd
card_train_file='F:\\python\\fupin\\train\\card_train.txt'
card_train=pd.read_csv(card_train_file,header=None)
card_train.head(10)

       0      1      2   3                    4     5       6
0   1006  POS消费  地点551  淋浴  2013/09/01 00:00:32  0.50  124.90
1   1006  POS消费  地点551  淋浴  2013/09/01 00:00:32  0.50  124.90
2   1968  POS消费  地点159  淋浴  2013/09/01 00:00:39  0.10  200.14
3   1968  POS消费  地点159  淋浴  2013/09/01 00:00:39  0.10  200.14
4   1406  POS消费  地点660  开水  2013/09/01 00:00:40  0.01  374.42
5   1406  POS消费  地点660  开水  2013/09/01 00:00:40  0.01  374.42
6   1406  POS消费   地点78  其他  2013/09/01 00:00:40  0.60  373.82
7   1406  POS消费   地点78  其他  2013/09/01 00:00:40  0.60  373.82
8  13554  POS消费    地点6  淋浴  2013/09/01 00:00:57  0.50  522.37
9  13554  POS消费    地点6  淋浴  2013/09/01 00:00:57  0.50  522.37

In [12]:
card_train.columns=['id','consume','where','how','time','amount','remainder']
card_train.head(10)
card_train['how'].unique()#['淋浴', '开水', '其他', '洗衣房', '文印中心', '教务处', '图书馆', '食堂', '校车', nan,'超市', '校医院']

array(['淋浴', '开水', '其他', '洗衣房', '文印中心', '教务处', '图书馆', '食堂', '校车', nan,
       '超市', '校医院'], dtype=object)

In [13]:
card_group=card_train.groupby(['id','how'])['amount'].sum()

In [16]:
card_group.tail(20)

id     how
32667  文印中心     554.70
       校车       297.03
       洗衣房       92.46
       淋浴       147.00
       超市      1561.00
       食堂      3883.05
32670  图书馆        5.30
       开水       403.15
       教务处       16.00
       校车       315.80
       洗衣房        5.54
       淋浴        19.10
       超市       669.50
       食堂      1380.13
32671  开水         2.25
       文印中心       0.45
       校车        14.00
       淋浴        22.00
       超市        21.90
       食堂        10.00
Name: amount, dtype: float64

In [22]:
card_group=card_group.unstack(['how'])

In [23]:
card_group.head(10)

how,图书馆,开水,文印中心,校车,淋浴,超市,食堂,教务处,洗衣房,其他,校医院
id,,,,,,,,,,,
0,84.40,429.58,0.3,417.49,12.30,839.68,647.81,NaN,NaN,NaN,NaN
1,324.20,265.97,96.4,119.40,22.50,514.30,1540.60,29.3,25.02,NaN,NaN
8,425.90,2440.94,2.6,2211.45,39.83,10.00,387.15,NaN,4.50,NaN,NaN
9,113.73,4754.68,294.4,158.10,36.32,NaN,1899.60,NaN,23.82,122.26,NaN
10,272.60,750.34,NaN,486.30,143.90,242.80,944.84,1.3,65.36,NaN,NaN
11,134.80,928.21,4.0,989.25,164.20,107.70,333.40,NaN,9.24,NaN,NaN
19,65.40,264.69,17.7,8.90,14.90,628.16,513.31,NaN,NaN,NaN,NaN
20,40.70,700.86,NaN,150.73,34.10,679.80,1354.90,43.6,4.90,NaN,NaN
21,96.00,288.51,NaN,209.50,13.00,356.20,622.55,NaN,NaN,NaN,NaN
22,294.10,1000.95,0.5,173.49,54.80,468.30,3074.37,10.0,7.38,NaN,NaN

In [24]:
new_card_group=card_group.fillna(0)
new_card_group.head(10)

how,图书馆,开水,文印中心,校车,淋浴,超市,食堂,教务处,洗衣房,其他,校医院
id,,,,,,,,,,,
0,84.40,429.58,0.3,417.49,12.30,839.68,647.81,0.0,0.00,0.00,0.0
1,324.20,265.97,96.4,119.40,22.50,514.30,1540.60,29.3,25.02,0.00,0.0
8,425.90,2440.94,2.6,2211.45,39.83,10.00,387.15,0.0,4.50,0.00,0.0
9,113.73,4754.68,294.4,158.10,36.32,0.00,1899.60,0.0,23.82,122.26,0.0
10,272.60,750.34,0.0,486.30,143.90,242.80,944.84,1.3,65.36,0.00,0.0
11,134.80,928.21,4.0,989.25,164.20,107.70,333.40,0.0,9.24,0.00,0.0
19,65.40,264.69,17.7,8.90,14.90,628.16,513.31,0.0,0.00,0.00,0.0
20,40.70,700.86,0.0,150.73,34.10,679.80,1354.90,43.6,4.90,0.00,0.0
21,96.00,288.51,0.0,209.50,13.00,356.20,622.55,0.0,0.00,0.00,0.0
22,294.10,1000.95,0.5,173.49,54.80,468.30,3074.37,10.0,7.38,0.00,0.0

In [32]:
id_0=card_train[card_train['id']==0]
id_0

         id consume   where   how                 time  amount  remainder
110       0   POS消费  地点1626    淋浴  2013/09/01 00:17:01    0.30       1.35
111       0   POS消费  地点1626    淋浴  2013/09/01 00:17:01    0.30       1.35
17998     0     卡充值     NaN   NaN  2013/09/01 16:49:10  100.00     101.35
18000     0     卡充值     NaN   NaN  2013/09/01 16:49:10  100.00     101.35
18184     0   POS消费    地点21    开水  2013/09/01 16:57:11   22.00      79.35
18185     0   POS消费    地点21    开水  2013/09/01 16:57:11   22.00      79.35
18190     0   POS消费    地点21    开水  2013/09/01 16:57:14    0.10      79.25
18191     0   POS消费    地点21    开水  2013/09/01 16:57:14    0.10      79.25
36167     0   POS消费  地点1561    开水  2013/09/02 08:38:29    0.09      79.16
43739     0   POS消费   地点124    食堂  2013/09/02 17:47:21    3.00      70.56
43765     0   POS消费   地点232    食堂  2013/09/02 17:49:28    5.60      73.56
45584     0   POS消费    地点21    开水  2013/09/02 18:08:14    2.00      68.56
47114     0   POS消费    地点21    开水  2013/09/02 18:23:17    1.00      67.56
52509     0   POS消费  地点1626    淋浴  2013/09/03 00:26:26    0.20      67.36
69318     0   POS消费   地点188    超市  2013/09/03 19:57:40   10.00      57.36
71863     0   POS消费  地点1561    开水  2013/09/03 22:58:26    0.06      57.30
83090     0   POS消费   地点188    超市  2013/09/04 14:15:09   14.00      43.30
106779    0   POS消费  地点1561    开水  2013/09/05 18:04:27    0.09      43.21
108402    0   POS消费   地点192    超市  2013/09/05 20:48:00    9.70      33.51
123107    0   POS消费    地点91    校车  2013/09/06 17:36:29   12.90      20.61
126005    0   POS消费   地点188    超市  2013/09/06 18:16:21   13.60       7.01
126700    0   POS消费   地点188    超市  2013/09/06 20:11:50    4.50       2.51
137375    0     卡充值     NaN   NaN  2013/09/07 12:16:59  100.00     102.51
137503    0   POS消费    地点70    食堂  2013/09/07 12:22:20    2.50     100.01
140283    0   POS消费   地点249    食堂  2013/09/07 17:33:38    5.60      94.41
140290    0   POS消费   地点103    食堂  2013/09/07 17:33:46    4.60      89.81
140334    0   POS消费    地点21    开水  2013/09/07 17:34:21    1.50      88.31
142542    0   POS消费  地点1561    开水  2013/09/07 18:05:15    0.09      88.22
143537    0   POS消费   地点188    超市  2013/09/07 20:20:25    8.70      79.52
155720    0   POS消费   地点192    超市  2013/09/08 16:50:08   10.52      69.00
...      ..     ...     ...   ...                  ...     ...        ...
3517822   0   POS消费  地点1561    开水  2014/04/13 22:14:49    0.06      36.70
3518705   0   POS消费  地点1874    淋浴  2014/04/13 23:13:26    0.40      36.30
3529995   0   POS消费   地点203    食堂  2014/04/14 14:58:46    7.50      28.80
3530850   0   POS消费   地点243    食堂  2014/04/14 16:32:56    3.00      25.80
3530893   0   POS消费    地点21    开水  2014/04/14 16:41:10    1.00      24.80
3550527   0   POS消费   地点168    食堂  2014/04/15 13:22:57    5.50      19.30
3550535   0   POS消费   地点204    食堂  2014/04/15 13:24:45    1.00      18.30
3550556   0   POS消费   地点195    超市  2014/04/15 13:30:06    3.40      14.90
3551541   0   POS消费    地点21    开水  2014/04/15 15:56:26    3.50      11.40
3556268   0   POS消费   地点232    食堂  2014/04/15 18:08:35   10.90       0.50
3561327   0   POS消费  地点1561    开水  2014/04/16 00:23:03    0.06       0.44
3582127   0   POS消费  地点1874    淋浴  2014/04/16 23:20:08    0.20       0.14
3582386   0   POS消费  地点1626    淋浴  2014/04/17 00:14:59    0.10       0.34
3594877   0   POS消费    地点91    校车  2014/04/17 17:02:45   10.90      86.74
3595002   0     卡充值     NaN   NaN  2014/04/17 17:07:33  100.00     100.14
3595541   0   POS消费    地点70    食堂  2014/04/17 17:20:04    2.50      97.64
3596442   0   POS消费    地点21    开水  2014/04/17 17:37:10   11.20      75.54
3600130   0   POS消费  地点1561    开水  2014/04/17 19:43:23    0.09      75.45
3602560   0   POS消费  地点1874    淋浴  2014/04/17 23:13:26    0.20      75.25
3619399   0   POS消费    地点21    开水  2014/04/18 20:29:12    7.20      68.05
3628425   0   POS消费    地点26   图书馆  2014/04/19 13:08:35    1.00      67.05
3635731   0   POS消费  地点1561    开水  2014/04/19 22:12:37    0.09      66.96
3636731   0   POS消费  地点1874    淋浴  2014/04/20 00:13:15    0.20      66.76
3640118   0   POS消费    地点70    食堂  2014/04/20 11:30:00    2.50      64.26
3663203   0   POS消费    地点21    开水  2014/04/21 14:59:22    2.80      61.31
3663249   0   POS消费   地点213    食堂  2014/04/21 15:07:59    0.15      64.11
3683210   0   POS消费   地点211    校车  2014/04/22 12:27:58    1.00      60.31
3683358   0   POS消费   地点211    校车  2014/04/22 12:34:14    1.00      59.31
3683829   0   POS消费   地点188    超市  2014/04/22 13:45:39    1.50      57.81
3684201   0   POS消费  地点1098  文印中心  2014/04/22 14:23:35    0.30      55.51

[638 rows x 7 columns]

In [34]:
id0=id_0.groupby(['id','how'])['amount'].sum()
id0=id0.unstack(['how'])
id0

how   图书馆      开水  文印中心      校车    淋浴      超市      食堂
id
0    84.4  429.58   0.3  417.49  12.3  839.68  647.81

In [35]:
card_group['总计']=card_group.sum(axis=1)
card_group.head(10)

how,图书馆,开水,文印中心,校车,淋浴,超市,食堂,教务处,洗衣房,其他,校医院,总计
id,,,,,,,,,,,,
0,84.40,429.58,0.3,417.49,12.30,839.68,647.81,NaN,NaN,NaN,NaN,2431.56
1,324.20,265.97,96.4,119.40,22.50,514.30,1540.60,29.3,25.02,NaN,NaN,2937.69
8,425.90,2440.94,2.6,2211.45,39.83,10.00,387.15,NaN,4.50,NaN,NaN,5522.37
9,113.73,4754.68,294.4,158.10,36.32,NaN,1899.60,NaN,23.82,122.26,NaN,7402.91
10,272.60,750.34,NaN,486.30,143.90,242.80,944.84,1.3,65.36,NaN,NaN,2907.44
11,134.80,928.21,4.0,989.25,164.20,107.70,333.40,NaN,9.24,NaN,NaN,2670.80
19,65.40,264.69,17.7,8.90,14.90,628.16,513.31,NaN,NaN,NaN,NaN,1513.06
20,40.70,700.86,NaN,150.73,34.10,679.80,1354.90,43.6,4.90,NaN,NaN,3009.59
21,96.00,288.51,NaN,209.50,13.00,356.20,622.55,NaN,NaN,NaN,NaN,1585.76
22,294.10,1000.95,0.5,173.49,54.80,468.30,3074.37,10.0,7.38,NaN,NaN,5083.89

In [37]:
card_group['恩格尔1']=card_group['食堂']/card_group['总计']
card_group[['恩格尔1','食堂','总计']]

how        恩格尔1       食堂       总计
id
0      0.266417   647.81  2431.56
1      0.524426  1540.60  2937.69
8      0.070106   387.15  5522.37
9      0.256602  1899.60  7402.91
10     0.324973   944.84  2907.44
11     0.124832   333.40  2670.80
19     0.339253   513.31  1513.06
20     0.450194  1354.90  3009.59
21     0.392588   622.55  1585.76
22     0.604728  3074.37  5083.89
23     0.609695  3304.85  5420.50
28     0.396164  1244.58  3141.58
29     0.546386   952.23  1742.78
36     0.591185  3013.24  5096.95
37     0.417448  2459.10  5890.80
56     0.442844   399.80   902.80
57     0.305529   126.00   412.40
62     0.422114  1097.62  2600.29
64     0.627151  2626.15  4187.43
65     0.554474  1871.16  3374.66
66     0.442035  1740.34  3937.11
67     0.129005   566.80  4393.62
70     0.425584  1649.23  3875.22
71     0.565953   823.88  1455.74
74     0.482873  2066.42  4279.43
75     0.293761  1494.37  5087.03
76     0.161410   861.50  5337.33
77     0.062288   295.45  4743.31
82     0.522724  1044.68  1998.53
83     0.312219   681.48  2182.70
...         ...      ...      ...
32602  0.477739    33.80    70.75
32603  0.491373  1816.31  3696.40
32608  0.547923    34.30    62.60
32609  0.427574  2014.23  4710.83
32614  0.363454    18.10    49.80
32615  0.445453  1510.37  3390.64
32624  0.733955    67.70    92.24
32625  0.580468  1661.80  2862.86
32626  0.076988     5.50    71.44
32627  0.197550   643.33  3256.54
32630  0.414803   126.10   304.00
32631  0.428205  3043.83  7108.34
32638  0.717338    63.80    88.94
32639  0.363133  1376.02  3789.30
32640  0.667183    86.20   129.20
32641  0.766478  1220.24  1592.01
32642  0.370025    59.50   160.80
32643  0.519809  3133.90  6028.95
32652  0.622934    84.80   136.13
32653  0.503737  2975.22  5906.30
32654  0.401606    19.00    47.31
32655  0.385767  2781.92  7211.40
32658  0.317031    55.10   173.80
32659  0.308783   537.35  1740.22
32664  0.220578    16.40    74.35
32665  0.420894  1297.31  3082.27
32666  0.505278  2855.05  5650.45
32667  0.499000  3883.05  7781.67
32670  0.490361  1380.13  2814.52
32671  0.141643    10.00    70.60

[10846 rows x 3 columns]